$title-color: white;

$subtitle-color: white;

$primary: rgba(250, 255, 5, 1);

$tabs-link-active-color: rgba(250, 255, 5, 1);
$tabs-link-active-border-bottom-color: rgba(250, 255, 5, 1);
$tabs-border-bottom-color: rgba(255, 255, 255, 0.2);;

$tabs-link-color: white;

$table-head-cell-color: white;

$button-text-hover-background-color: rgba(250, 255, 5, 0.5);

$info: rgba(215, 227, 255, 1);

@import "~bulma";